
body {
    margin:0px;
    background-color: #ededed;
}

/***************/
/* TITELS & FONTS*/
/***************/

h2,h3,h1 {
    font-family: 'Exo', sans-serif;
}

h3 {
    font-size: 1.12em;
}

h2 {
    font-size:1.55em;
}

p {
    font-family: 'Exo', sans-serif;
    margin: 1.3em 0em 1.2em 0em;
}

/***************/
/*NAVIGATIE*/
/***************/

nav {
    background-color: black;
}

nav ul {
    display: flex;
    list-style-type:none;
    justify-content: flex-end;
    margin:0;
    padding: 0.8em;
    gap:0.8em;   
}

li {
    margin-top:0.3em;
}

nav li:nth-child(2) {
    color:white;
    font-family: 'Exo', sans-serif;
    font-weight:bold;
    font-size: 1.3em;
    margin-right: auto;
}

nav img {
    height: 1.9em;
    width: 1.9em;
}  

nav a {
    font-size: 0.87em;
}

header {
    position:fixed;
    width: 100vw; /*wat is vw?*/
    margin: 0;
    padding: 0;
    z-index: 4;
}

/***************/
/*HEADER IMAGE (DIV)*/
/***************/

main>div:first-child img {
    width:100vw;
    height:40.875em;
    object-fit:cover;
}

div:first-of-type div {
    position:absolute;
    top:450;
    padding-left: 1em;
}

@media (min-width:48.1rem){
    div div {
        position:absolute;
        top:450;
        padding-left: 2.5em;
    }
}

/***************/
/*BUTT0NS/
/***************/

div div button:first-of-type {
background-color: #E60000;
color:white;
font-family: 'Exo', sans-serif;
border:none;
font-weight:bold;
padding: 0.56em 1.4em;
font-size:1em;
margin-right: 0.6em;
}

div div button:nth-of-type(2) {
    background-color:white;
    color:black;
    font-family: 'Exo', sans-serif;
    border:black;
    font-weight:bold;
    padding: 0.56em 1.4em;
    font-size:1em;
    }

/***************/
/*CAROUSSEL*/
/***************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carouselsection {
  background: black;
  color: white;
  padding: 1rem;
  position: relative;
}

.carouselsection h2 {
  margin: 1rem 0;
}

.carousel-frame {
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 2.5%;
  list-style: none;
  position: relative;
  right: 50%;
}

.carousel.animate {
    transform: translateX(var(--slideX));
    transition: transform 400ms ease-in-out;
}

.carousel li {
  height: 12.5rem;
  flex: 0 0 auto;
  width: 48.5%;
}

.carousel li a {
  background: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-transform: none;
}

.carousel li a img {
  order: -1;
  width: 100%;
}

.carouselsection button {
  -webkit-apperance: none;
  appearance: none;
  background: red;
  border: none;
  color: white;
  padding: .75rem .5rem;
  position: absolute;
  top: 50%;
}

.carouselsection button#prev {
  left: 0;
}

button#next {
  right: 0;
}

.carousel li a {
text-transform: none;
text-decoration: none;
}

.carousel li a:hover {
    text-decoration: underline; 
}

@media (min-width:63.75rem){

    .carousel li a img{
    width:13.25em;
    height:9.375em;
    }

    .carousel li a {
        height: 75%;
        width: 70%;
    }

    .carousel li h3 {
        width: 40%;
        margin-left:1em;
        margin-top:1em;
        font-size:1.25em;
    }
} 


/***************/
/*EERSTE SECTION(SLUITJEAANBIJBNNVARA)*/
/***************/

section:nth-of-type(2) img {
width: 100%;
margin-top: 2.5em;
} 

section:nth-of-type(2) h2 {
    margin-top: 1.3em;
}

@media (min-width:63.75rem){

section:nth-of-type(2) {
display:flex;
gap: 3.5em;
padding:2.5em;
margin-right: 1em;
}


section:nth-of-type(2) img {
    width:50%;
    }
}

@media (min-width:48.1rem){
    section:nth-of-type(2) article h2 {
        font-size:2.25em;
        margin:1.3em;
    }

    section:nth-of-type(2) article p {
        font-size: 1.12em;
        margin:2.6em;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    article p:first-of-type {
        margin-left: 1.25em;
        margin-right: 1em;
    }

    section:nth-of-type(2) h2 {
        margin-left: 0.8em;
        margin-right: 1em;
    }

    section:nth-of-type(3) h2{
        margin-left: 0.8em;
        margin-top: 1.3em;
        margin-bottom: 1em;
    }

  }

/***************/
/*ARTIKELEN*/
/***************/

section:nth-of-type(3) img {
    height:6em;
    width:7em;
    position:relative;
    } 

section:nth-of-type(3) article {
    display:flex;
    background-color:white;
    margin-bottom: 1.3em;
    gap:0.5em;
    margin:18;
    border-radius: 4px;
}

h3 {
    margin:3;
}
     
/***************/
/*GRID 1e breakpoint (iPad)/
/***************/

@media (min-width:48.1rem) 
{
    section:nth-of-type(3){
        display:grid;
        grid-template-columns: 1fr 1fr;
        background:none;
        grid-gap:1.25em;
        margin:2.5em;
    }

    section:nth-of-type(3) h2 {
        grid-column: 1/ -1;
        font-size: 2.5em;
        margin:0;
        margin-left:0.75em;
    }

    section:nth-of-type(3) article{
    background:none;
    position:relative;
    }

    section:nth-of-type(3) img {
        width:100%;
        height:20.25em;
        /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); Hoe werkt dit met ::after?! */ 
        object-fit: cover;
        z-index:auto;
        border-radius: 5.5px;
    }

    section:nth-of-type(3) h3 {
    position:absolute;
    font-size:1.25em;
    inset:1.875em 1.875em;
    margin-top: 9em;
    color:white;
}
}

/***************/
/*GRID 2e breakpoint (Desktop)/
/***************/

@media (min-width:63.75rem) {

section:nth-of-type(3){
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background:none;
    grid-gap:0.375em;
    padding:1em;
    margin:0px;
}

section:nth-of-type(3) h2 {
    grid-column: 1/ -1;
    font-size: 2.5em;
    margin:0;
    padding-left:22px;
    margin-bottom: 0.4em;
}

section:nth-of-type(3) article{
background:none;
position:relative;
}

section:nth-of-type(3) img {
    width:100%;
    height:20em;
    object-fit: cover;
    z-index:auto;
    border-radius:0.5em;
}

section:nth-of-type(3) img:hover {
    transform: scale(1.04);
    transition: 0.5s ease;
}

section:nth-of-type(3) h3:hover {
    text-decoration:underline;
}

section:nth-of-type(3) h3 {
position:absolute;
font-size:1.25em;
inset:0px 1.6em;
margin-top: 9.5em;
color:white;
}
}

/***************/
/*FOOTER*/
/***************/

footer {
    background-color: #E60000 ;
    padding-bottom: 0.7em;
}

footer li  {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color:white;
    font-size: 1em;
    margin-bottom:1.8em;
}

footer h4 {
    font-weight:normal;
    font-family: 'Exo', sans-serif;
    color:white;
    font-size: 0.88em;
}

footer ul {
    list-style: none;
    padding:0;
    padding-bottom: 2em;}

footer div:nth-of-type(2) li img {
        width: 2.3em;
        height: 2.3em;
        padding:none;
    }

    footer div:nth-of-type(2) ul {
        display:flex;
        gap:0.5em;
        padding-top:0;
    }

/* footer ul:nth-of-type(5) {
        display:flex;
        gap:0.5em;
        padding-top:0;
    } */

/* Doet het niet, dus maar weer een div omheen gezet */
    
footer div {
padding: 2.75em 1.5em 2em;
}

footer div:first-child {
padding-bottom: 0.6em;
}

footer div:nth-of-type(2) {
    margin-bottom:auto;
    padding-top:0;
    padding-bottom: 0;
}

footer div:first-of-type ul:nth-of-type(4) {
    padding-bottom:0;
}

@media (min-width:63.75rem){

footer div:first-child{
    background-color: #E60000;
    padding-bottom: 1em;
    display:flex;
    padding:4em 3em 2.5em;
}

footer li {
    font-size: 1.125em;
}

footer h4{
font-size: 0.88em;
}

footer div:first-child ul{
    padding:0;
}

footer div:nth-of-type(2){
    background-color: #E60000;
    padding-bottom: 1em;
    display:flex;
    padding-right: 2.5em;
}

footer div:nth-of-type(2) li img {
    width: 2.3em;
    height: 2.3em;
}

footer div:nth-of-type(2) ul {
    justify-content: flex-end;
    margin-left:auto;
    margin-right:6.5625em;
}

footer ul {
    width: 25%;
}
}

/***************/
/*2E: PAGINA ARTIKELPAGINA
/***************/

/*Artikel woningstress */

.artikelpagina main {
    background-color: white;
}


h5 {
    font-size: 1.125em;
    font-family: 'Exo', sans-serif;
    margin: 0;
}

.artikel h1 {
    font-size: 1.625em;
}

.artikel {
    margin: 4.5em 1em 0em 1em;
}

.artikel h1 {
    margin-bottom: 1em;
}

.artikel p:first-of-type {
    margin-left: 0;
}

.artikel button {
    background-color: white;
    height: 3em;
    padding: 0px 20px;
    margin:0;
    border: 1.5px solid rgb(187, 187, 187);
    margin: 1em 0em 1em 0em;
}

.artikel button:hover{
    border-color:#E60000;
}

.artikel button img {
    width:  2.6em;
    height: 2.6em;
}

.artikel a{
    color:#E60000;
    font-family:'Exo', sans-serif;
    margin-left:0.21875em;
}

.artikelpagina a:hover {
color:#0645AD;
}

.artikel .woningstressfoto{
    width: 100%;
    margin:0px;
}

.artikel ul {
    display:flex;
    padding: 0;
    list-style-type:none;
}

.artikel li {
    font-family: 'Exo', sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5rem;
}
.artikel p:last-of-type {
    font-weight: bold;
}

.artikel p:last-of-type a {
    color:black;
}

.artikel p:last-of-type a:hover {
    color: #E60000;
}

/***************/
/*COMMENTS
/***************/

.comments img {
    width: 2.5em;
    height: 2.5em;
    margin: 1em 0.5em;
}

.comments {
    padding: 1.25em 0.9375em 5.5em;
    margin:0;
    background-color: white;
}

/* Hij pakt automatisch de section van de vorige pagina, terwijl er al een class op staat. */

.comments div {
    display:flex;
}

.comments button {
background-color: #E60000;
color:white;
font-family: 'Exo', sans-serif;
border:none;
font-weight:bold;
padding: 0.56em 1.4em;
font-size: 1em;
margin-left:42%;
margin-top: 1.5em;
}

textarea {
    width: 18.56em;
    height: 6em;
    font-family: 'Exo', sans-serif;
    font-size: 1.25em;
    padding:1.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

textarea:focus {
    border: 2px solid #000;
    outline:none;
}

.inloggen {
    margin-top:1em;
    margin-left:9em;
}

@media (min-width:63.75rem){

    .comments {
        padding-left:20%;
    }

.artikel p, .artikel h5 {
    width: 80%;
    padding-left:20%;
}

.artikel p {
    font-size: 1.25em;
}

.artikel h5 {
    font-size: 1.375em;
    margin: 1.8em 0em 1.8em 0em;
}

.artikel .woningstressfoto {
width: 70%;
height: 32em;
padding-left:10%;
margin: 1.8em 0em 1.8em 9em;
}

.artikel h1, 
.artikel li:first-of-type, 
.artikel .eerstea
{
padding-left:20%;
}

.artikel h1 {
   font-size: 2.75em; 
   margin:2em 0em 0.5em 0em;
}

.artikel button {
    margin-left:20%;
}

#artikel article a:first-of-type, #artikel article a:nth-of-type(2),#artikel article li {
font-size: 1.25em;
}

.artikel li {
    margin-right: 1%;
}

textarea {
    width: 70%;
    height:7em;
}

.comments button {
    margin-left:57%;
}

}